@import '../../Themes/first';

.event-list {
  background: #fff;
  padding: 16px;
  .event-list-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    margin-bottom: 8px;
    color: #adadad;
    .event-list-title {
      font-size: 20px;
    }
  }
  .event-list-content {
    .event-list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px 0;
      color: #adadad;
      .item-created-date {
        text-align: center;
        .item-day {
          font-size: 18px;
          color: #777777;
        }
      }
      .event-list-info {
        .event-list-info-title {
          color: #777777;
        }
      }
    }
  }
}
