.to-do-list {
  background: #fff;
  padding: 16px;
  .to-do-list-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    margin-bottom: 8px;
    color: #adadad;
    .to-do-list-title {
      font-size: 20px;
    }
  }
  .to-do-list-content {
    .to-do-list-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px 0;
      color: #adadad;
      .to-do-list-info-title {
        font-size: 18px;
      }
    }
  }
}
