@import "../../Themes/first";
.landing {
  flex-grow: 1;
  background: $blue url(../../images/bg.png) left bottom no-repeat;
  background-size: 30%;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  .landingText {
    font-size: 20px;
    margin-left: auto;
    margin-top: auto;
  }
}
