.Graphs {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.GraphsWrapper {
  padding: 40px 0;
  .Graphs-header {
    display: flex;
    justify-content: space-between;
    > h3 {
      font-weight: 700;
    }
  }
}

.GraphsContainer {
  .Graphs-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .Graphs-item {
      margin-bottom: 40px;
    }
  }
}
