.sideBarContainer {
  > h3 {
    color: #fff;
    background: #2a7bdb;
    text-align: center;
    padding: 10px;
    line-height: 1em;
    box-shadow: 0 -8px 18px -6px rgba(0, 0, 0, 0.15) inset;
  }
  .closeMenuButton {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 999;
  }
}
