.App-container {
  display: flex;
  height: 100%;
  .sideBar {
    width: 16%;
    overflow: hidden;
    transition: all ease-in-out 400ms;
    position: fixed;
    bottom: 0;
    height: 100%;
    &.sideBarOut {
      transform: translateX(0);
    }
    &.sideBarIn {
      transform: translateX(-100%);
      width: 0%;
    }
    .sideBarContainer {
      width: 100%;
    }
  }
  .content {
    width: 84%;
    transition: all ease-in-out 400ms;
    display: flex;
    flex-direction: column;
    &.sideBarOut {
      transform: translateX(19%);
    }
    &.sideBarIn {
      width: 100%;
      transform: translateX(0);
    }
  }
  @media (max-width: 1024px) {
    .sideBar {
      width: 30%;
    }
    .content {
      width: 70%;
      &.sideBarOut {
        transform: translateX(42%);
      }
    }
  }
  .menuButton {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}
