.calendar {
  background-image: linear-gradient(180deg, #2662d7 0, #358fe5 100%);
  color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  .calendar-header {
    display: flex;
    border-bottom: 1px solid rgba(204, 204, 204, 0.36);
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .new-calendar-content {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .add-calendar {
      height: 80px;
      width: 80px;
      .md-icon {
        font-size: 60px;
        color: #fff;
      }
    }
  }
  .calendar-footer {
    margin-left: auto;
  }
  .calendar-content {
    margin: -16px;
  }
  .rc-calendar {
    background-image: linear-gradient(180deg, #2662d7 0, #358fe5 100%);
    box-shadow: none;
    width: 100%;
    border: 0;
    border-radius: 0;
    .rc-calendar-header {
      border: none;
      color: #fff;
      border-bottom: 1px solid rgba(204, 204, 204, 0.36);
    }
    .rc-calendar-body {
      padding: 9px 0px 10px;
    }
    .rc-calendar-month-select,
    .rc-calendar-year-select,
    .rc-calendar-prev-month-btn,
    .rc-calendar-next-month-btn,
    .rc-calendar-prev-year-btn,
    .rc-calendar-next-year-btn .rc-calendar-column-header,
    .rc-calendar-column-header-inner,
    .rc-calendar-date {
      color: #fff;
      &:hover {
        background: none;
      }
    }
    .rc-calendar-next-month-btn-day,
    .rc-calendar-last-month-cell {
      .rc-calendar-date {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .rc-calendar-active-week {
      background-image: linear-gradient(45deg, #2662d7 0, #358fe5 100%);
    }
    .rc-calendar-selected-day {
      .rc-calendar-date {
        background: none;
      }
    }
    .rc-calendar-month-panel {
      background-image: linear-gradient(-45deg, #2662d7 0, #358fe5 100%);
      .rc-calendar-month-panel-cell {
        .rc-calendar-month-panel-month {
          color: #fff;
          &:hover {
            background: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
    .rc-calendar-year-panel {
      background-image: linear-gradient(-45deg, #2662d7 0, #358fe5 100%);
      .rc-calendar-year-panel-header {
        border-bottom: 1px solid rgba(204, 204, 204, 0.36);
      }
      .rc-calendar-year-panel-cell {
        .rc-calendar-year-panel-year {
          color: #fff;
          &:hover {
            background: rgba(0, 0, 0, 0.3);
          }
        }
        &.rc-calendar-year-panel-last-decade-cell,
        &.rc-calendar-year-panel-next-decade-cell {
          .rc-calendar-year-panel-year {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
    .rc-calendar-decade-panel {
      background-image: linear-gradient(-45deg, #2662d7 0, #358fe5 100%);
      .rc-calendar-decade-panel-header {
        border-bottom: 1px solid rgba(204, 204, 204, 0.36);
      }
      .rc-calendar-decade-panel-cell {
        .rc-calendar-decade-panel-decade {
          color: #fff;
          &:hover {
            background: rgba(0, 0, 0, 0.3);
          }
        }
        &.rc-calendar-decade-panel-last-century-cell,
        &.rc-calendar-decade-panel-next-century-cell {
          .rc-calendar-decade-panel-decade {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}
