.evaluation {
  background: #fff;
  padding: 16px;
  .evaluation-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    margin-bottom: 8px;
    color: #adadad;
    .evaluation-title {
      font-size: 20px;
    }
  }

  .evaluation-items {
    display: flex;
    align-items: center;
    .item-label {
      min-width: 90px;
    }
    .item-progress {
      flex-grow: 1;
    }
  }
}
