.pie-circle {
  background: #fff;
  padding: 16px;
  .pie-circle-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    margin-bottom: 8px;
    color: #adadad;
    .pie-circle-title {
      font-size: 20px;
    }
  }
  .pie-circle-content {
    height: 300px;
    width: 300px;
    margin: auto;
  }
}
