@import "../../Themes/first";

.ada-notification {
  position: relative;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  span {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: red;
    color: white;
    width: 15px;
    height: 15px;
  }
}
