.navigation {
  display: flex;
  justify-content: center;
  padding: 20px;
  .menuIcon {
    margin: 10px;
  }
  .SideBar {
    margin: 10px;
    .SideBar-header {
      &.white {
        background-color: #fff;
        .SideBar-header-info {
          color: grey;
        }
      }
    }
  }
}
