.navigation {
  display: flex;
  justify-content: center;
  padding: 20px;
  .menuIcon {
    margin: 10px;
  }
  .SideBar {
    margin: 10px;
    .SideBar-header {
      &.white {
        .PanelProfile-header {
          &.white-header {
            background-color: #fff;
            .PanelProfile-header-info {
              display: block;
              color: black;
            }
          }
        }
        background-color: #fff;
        .SideBar-header-info {
          color: grey;
        }
      }
    }
  }
}
