.socialPanel {
  background-color: #393c40;
  display: table;
  padding: 5px;
  button {
    color: #6f7379;
    border-radius: 0;
    border-left: 1px solid #6f7379;
    padding-bottom: 40px;
    &:hover {
      background-color: #5c5c5c;
      color: white;
    }
    &:first-child {
      border-left: none;
    }
  }
  &.red {
    button {
      &:hover {
        background-color: #f44236;
        color: white;
      }
    }
  }
  &.blue {
    button {
      &:hover {
        background-color: #149fed;
        color: white;
      }
    }
  }
  &.purple {
    button {
      &:hover {
        background-color: #c2a5ff;
        color: white;
      }
    }
  }
}
