.blocklist {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.blocklistContainer {
  &.md-grid {
    margin: 0 -16px;
    padding: 40px 0;
  }
  .blocklist-item {
    margin-bottom: 30px;
  }
  .blocklist-grid {
    align-items: center;
  }
}
.rightText {
  text-align: right;
}
